$size__site-main		: 100%;
$size__site-sidebar		: 25%;

$size__bot-marg			: 1.5em;
$size__max-width 		: 1000px;
$size__feature 			: 240px;

$bp__icons-resources 	: 400px;
$bp__haps-small 		: 500px;
$bp__menu-button		: 600px;
$bp__tablet				: 768px;
$bp__feature-text 		: 860px;
$bp__menu-float 		: 930px;
$bp__haps-large 		: 950px;
$bp__laptop				: 1024px;

