$font__main 				: 'cooper_hewittbook', sans-serif;
$font__code 				: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre 					: "Courier 10 Pitch", Courier, monospace;
$font__bold 				: 'cooper_hewittbold', sans-serif;
$font__bold-italic 			: 'cooper_hewittbold_italic', sans-serif;
$font__italic 				: 'cooper_hewittbook_italic', sans-serif;

$font__line-height-body 	: 1.5;
$font__line-height-pre 		: 1.6;

$font__size-social 			: 26px;
$font__size-menu 			: 1.5em;
$font__size-strip-title 	: 3em;
$font__size-strips-text 	: 2em;
$font__size-boxes 			: 3.25em;
$font__size-section-titles 	: 1.5em;
$font__size-page-title 		: 7.5em;

@font-face {
	font-family: 'cooper_hewittbold';
	src: url('assets/fonts/CooperHewitt-Bold-webfont.eot');
	src: url('assets/fonts/CooperHewitt-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/CooperHewitt-Bold-webfont.woff2') format('woff2'),
		 url('assets/fonts/CooperHewitt-Bold-webfont.woff') format('woff'),
		 url('assets/fonts/CooperHewitt-Bold-webfont.ttf') format('truetype'),
		 url('assets/fonts/CooperHewitt-Bold-webfont.svg#cooper_hewittbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cooper_hewittbold_italic';
	src: url('assets/fonts/CooperHewitt-BoldItalic-webfont.eot');
	src: url('assets/fonts/CooperHewitt-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/CooperHewitt-BoldItalic-webfont.woff2') format('woff2'),
		 url('assets/fonts/CooperHewitt-BoldItalic-webfont.woff') format('woff'),
		 url('assets/fonts/CooperHewitt-BoldItalic-webfont.ttf') format('truetype'),
		 url('assets/fonts/CooperHewitt-BoldItalic-webfont.svg#cooper_hewittbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cooper_hewittbook';
	src: url('assets/fonts/CooperHewitt-Book-webfont.eot');
	src: url('assets/fonts/CooperHewitt-Book-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/CooperHewitt-Book-webfont.woff2') format('woff2'),
		 url('assets/fonts/CooperHewitt-Book-webfont.woff') format('woff'),
		 url('assets/fonts/CooperHewitt-Book-webfont.ttf') format('truetype'),
		 url('assets/fonts/CooperHewitt-Book-webfont.svg#cooper_hewittbook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cooper_hewittbook_italic';
	src: url('assets/fonts/CooperHewitt-BookItalic-webfont.eot');
	src: url('assets/fonts/CooperHewitt-BookItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/CooperHewitt-BookItalic-webfont.woff2') format('woff2'),
		 url('assets/fonts/CooperHewitt-BookItalic-webfont.woff') format('woff'),
		 url('assets/fonts/CooperHewitt-BookItalic-webfont.ttf') format('truetype'),
		 url('assets/fonts/CooperHewitt-BookItalic-webfont.svg#cooper_hewittbook_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
