.children {
	background-color: $light;

	// Flexbox
	display 		: flex;
	justify-content : center;
	flex-wrap 		: wrap;
}

.nav-children {
	@extend %clearafter;
	list-style 	: none;
	padding 	: 0;
	margin 		: 0;

	@media only screen and (min-width: $bp__menu-float) {
		margin-bottom: 1.5em;
	}
}

.tab-child {
	width 	: 100%;
	cursor 	: pointer;

	@media only screen and (min-width: $bp__menu-float) {
		float 			: left;
		width 			: 24%;
		margin-right 	: 1.3333%;

		&:nth-last-of-type(1) {
			margin-right: 0;
		}
	}
}

.tab-child-img {

	@media only screen and (min-width: $bp__menu-float) {
		background-repeat 	: no-repeat;
		background-size 	: cover;
		height 				: 275px;
		width 				: 100%;
	}
}

.tab-child-name {
	color 			: $aqua;
	text-transform 	: uppercase;
	font-size 		: 2em;

	@media only screen and (min-width: $bp__menu-float) {
		font-size: 1.25em;
	}

	&:hover {
		text-decoration: underline;
	}
}

.tab-child-excerpt {

	@media only screen and (min-width: $bp__menu-float) {

	}

	p {
		margin: 0;
	}
}

.section-child {
	position 	: relative;
	width 		: 100%;
	margin-top 	: 1em;
	display 	: none;
	@extend %clearafter;

	@media only screen and (min-width: $bp__menu-float) {
		border 	 	: 1px solid $linksgray;
	}
}

.section-content {
	display: flex;
}

.child-content {

	@media only screen and (min-width: $bp__menu-float) {
		flex 	: 0.7;
		order 	: 0;
		padding : 1em;
	}

	h2 {
		color 			: $aqua;
		text-transform 	: uppercase;
		margin 			: 0;
		transition 		: all 0.5s ease;
		display 		: none;

		@media only screen and (min-width: $bp__menu-float) {
			display: block;
		}
	}
}

.child-links {
	background-color: $linksgray;
	color 			: $light;
	padding 		: 1em;

	@media only screen and (min-width: $bp__menu-float) {
		flex 	: 0.3;
		order 	: 1;
	}

	ul {
		list-style 	: none;
		padding 	: 0;
		margin 		: 0;
	}

	a {
		color 			: $light;
		text-decoration : none;

		&:hover {
			text-decoration : underline;
		}
	}
}

.header-links {
	text-transform 	: uppercase;
	color 			: $green;
	margin-bottom 	: 1em;
	margin-top 		: 0;
}

.header-links-group {
	text-transform 	: uppercase;
	margin-bottom 	: 0;
	margin-top 		: 1.5em;
}



.page-template-page_with-children,
.tabbed-siblings {

	.children {
		summary:nth-of-type(1) {
			order: 1;
		}
		summary:nth-of-type(2) {
			order: 3;

			@media only screen and (min-width: $bp__menu-float) {
				order: 2;
			}
		}
		summary:nth-of-type(3) {
			order: 5;

			@media only screen and (min-width: $bp__menu-float) {
				order: 3;
			}
		}
		summary:nth-of-type(4) {
			order: 7;

			@media only screen and (min-width: $bp__menu-float) {
				order: 4;
			}
		}

		section:nth-of-type(1) {
			order: 2;

			@media only screen and (min-width: $bp__menu-float) {
				order: 5;
			}
		}
		section:nth-of-type(2) {
			order: 4;

			@media only screen and (min-width: $bp__menu-float) {
				order: 6;
			}
		}
		section:nth-of-type(3) {
			order: 6;

			@media only screen and (min-width: $bp__menu-float) {
				order: 7;
			}
		}
		section:nth-of-type(4) {
			order: 8;
		}
	}
}
